.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px /*значения подобраны эмпирически из PixelPerfect*/
}

.header__menu {

}

.header__links-list {
    display: flex;
    gap: 1.65em; /*работаем в основном со шрифтами и отступами, поэтому использовал em*/
    font-size: 1.15em;
    text-underline-offset: 0.1em;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {

}

.header__link_active {

}

.header__logo {
    display: flex; 

}

.header__logo-image {
    display: flex;
    min-width: 137px; /*значение подобрано эмпирически из PixelPerfect*/
}

.address {
    
    font-size: 1.15em;
    font-style: normal;
    line-height: 1.3em;
    text-underline-offset: 0.15em;
    letter-spacing: -0.01em; /*добавлено для подгонки с PixelPerfect*/

}

.address.header__address {
    display: flex;
    flex-direction: column;
    justify-self: end;
    align-items: flex-start;
    max-width: 240px /*значение подобрано эмпирически из PixelPerfect*/
}

.cover {
    display: grid;
    position: relative;
    padding: 50px;
    min-height: 757px; /*значение взято из проекта*/
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
    display: grid;
    padding-top: 4.75em;
    grid-template-rows: repeat(3, 1fr);
    row-gap: -100px;
    z-index: 2;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
    font-size: 4.1em;
    letter-spacing: 0.32em;
    color: rgb(255 255 255);
}

.aligned-text_left {
    
    justify-self: left;
}

.aligned-text_center {

    justify-self: center;
}

.aligned-text_right {
    
    justify-self: right;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    gap: 6.75em;
    z-index: 2;
}

.cover__description-text {
    padding-bottom: 0.6em;
    align-self: flex-end;
    text-transform: uppercase;
    font-size: 1.35em;
    word-spacing: 20px;
    color: rgb(255 255 255);
}

.bet-button {
    padding: 12px 31px;
    align-self: flex-end;
    text-transform: uppercase;
    font-size: 1.35em;
    letter-spacing: 0.01em;
    color: rgb(255 255 255);
    background-color: transparent;
    border-style: solid;
    border-color: rgb(255 255 255);
}